body {
  letter-spacing: 0.1px
}

code, .sourceCode, .r {
  font-family: "Inconsolata", monospace !important;
}

h2, h3, h4 {
  margin-top: 2em;
  letter-spacing: 1px;
}

.page-header img.logo {
    width: 80px !important;
}

.navbar {
  font-family:  "Fira Sans Condensed", "Arial Narrov", "Helvetica", sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.col-md-3 {
  font-family:  "Fira Sans Condensed", "Arial Narrov", "Helvetica", sans-serif;
  font-weight: 200;
  font-size: 0.8em;
}

.table th, .table td {
    padding: 0.4rem;
}
