body {
  letter-spacing: 0.1px
}

h1, h2, h3, h4,
.navbar,
.col-md-3 {
  font-family:  "Orbitron", monospace;
}

code, .sourceCode, .r, pre, pre code {
  font-family: "Inconsolata", monospace !important;
}

h2, h3, h4 {
  margin-top: 2em;
  letter-spacing: 1px;
}

.page-header img.logo {
    width: 80px !important;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
}

.col-md-3 {
  font-size: 0.8em;
  border-left: 1.5px solid #343a40;
}

.table th, .table td {
    padding: 0.4rem;
}
